* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    width: 100vw;
    background-color: #ffffff;

}

header {
    width: 100vw;
    background-color: #ff7f00;

}

footer {
    width: 100vw;
    height: 207px;
    background-color: #ff7f00;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.all-rights-reserved-2020 {
    margin-top: 3px;
    width: 206px;
    height: 19px;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
}

nav {
    z-index: 5;
    width: 90vw;
    height: 66px;
    background-color: #ff7f00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 133px;
    height: 22px;
    object-fit: contain;

}

ul {
    display: flex;
    align-items: center;
}

.gallery-nav-link {
    width: 66px;
    height: 19px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: black;
    text-decoration: none;
    padding-bottom: 20px;
}

.seperator {
    width: 1px;
    height: 32px;
    background-color: #8a8a8a;
    margin: 0 10px;
}

.my-memes-nav-link {
    width: 60px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

.mobile-menu-btn {
    display: none;
}

.main-container {
    width: 100vw;
    min-height: 80vh;
    background-color: #e3e3e3;
    padding: 10px 0 60px;

}

canvas {
    display: block;
    margin: 0 auto;
    border: 1px solid black;
}

.home-container {
    max-width: 80%;
    margin: 0 auto;
}

.search-text {
    max-width: 80%;
}

.gallery-box {
    width: 80vw;
    margin: 20px auto 0;
    padding-bottom: 50px;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 33.333%);
    grid-template-rows: repeat(6, 16.6666%);
    grid-gap: 20px;
}


.image-gallery {
    width: 90%;
    height: 100%;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 10px;
    grid-row: span 2;
}

.image-gallery:hover {
opacity: 0.6;
}

.my-memes-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 20px
    
}

.loaded-img {
    width: 250px;
    height: 250px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 10px;
}

/* Meme container and buttons */

.meme-container {
    padding: 20px 0;
    display: flex;

}

.canvas-container {
    margin-left: 50px;
}

.edit-box {
    width: 700px;
    padding: 0 70px;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 20%);
}

.user-text {
    height: 70%;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    grid-row: 1 / 2;
    grid-column: 1 / 5;
}

.user-text::placeholder {
    font-size: 25px;
    font-weight: 700;
    padding-left: 1px;
    padding-top: 10px;
    color: black;
}

input[type="text"] {
    font-size: 25px;
    font-weight: 700;
    padding-left: 10px;
    padding-top: 10px;
}

.switch-line {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.add-line {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

}

.remove-line {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.move-up {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.move-down {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

.increase-font {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.decrease-font {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.align-left {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

.align-center {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.align-right {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}


.change-font-select {
    width: 70%;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    font-family: Montserrat;
    border-radius: 12px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
}

#change-stroke {
    width: 10px;
    height: 10px;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    visibility: hidden;
}

#change-color {
    width: 10px;
    height: 10px;
    grid-row: 5 / 6;
    grid-column: 4 / 5;
    visibility: hidden;
}

.label-for-stroke {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;

}

.label-stroke-box {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}


.label-color-box {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}


.label-for-color {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    background-color: #ffffff;
    padding: 10px;
    cursor: pointer;

}

.download-link {
    align-self: self-end;
    width: 134px;
    height: 55px;
    padding: 15px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    text-decoration: none;
    background-color: #ff7f00;
    border-radius: 12px;
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

.download-link:hover {
    background-color: #fd9e3f;
}

.save-meme-button {
    background-color: #ff7f00;
    border-radius: 12px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    cursor: pointer;
    align-self: self-end;
    height: 55px;
}

.save-meme-button:hover {
    background-color: #fd9e3f;
}





@media (max-width: 1250px) {

    .gallery-box {
        max-width: 80vw;

    }
}

@media (max-width: 1060px) {
    .edit-box {
        width: 500px;
        padding: 0 40px;
        display: grid;
        grid-template-columns: repeat(6, 16.666%);
        grid-template-rows: repeat(5, 20%);
    }

    .user-text {
        height: 60%;
        grid-row: 1 / 2;
        grid-column: 1 / 5;
    }

    .change-font-select {
        width: 80%;
        grid-column: 1 / 4;
    }

    .save-meme-button {
        grid-column: 4 / 6;
       }
}

@media (max-width: 970px) {}

@media (max-width: 930px) {

    .gallery-box {
        max-width: 80vw;

    }


}

@media (max-width: 830px) {
    .edit-box {
        width: 60%;
        padding: 0 15px;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        grid-gap: 10px;
        margin: 0 auto
    }

    .gallery-box {
        max-width: 80vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 25%);
        padding-bottom: 0;
    }

    .image-gallery {
        grid-row: span 2;
    }

    .user-text::placeholder {
        font-size: 20px;
        font-weight: 700;
        padding-left: 10px;
        padding-top: 10px;
    }

    .meme-container {
        display: flex;
        flex-direction: column;
    }

    #myCanvas {
        margin: 5px auto 15px;
    }

    .image-gallery {
        grid-row: span 1;

    }

    .save-meme-button {
        grid-column: 4 / 6;
       }
}

@media (max-width: 780px) {

    .gallery-box {
        max-width: 80vw;
        height: 100vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 25%);
        padding-bottom: 0;
    }

        .image-gallery {
    grid-row: span 1;

    }

    .user-text {
        grid-row: 1 / 2;
        grid-column: 1 / 6;
        padding: 10px;
    }

    .image-gallery {
        grid-row: span 1;

    }

    .save-meme-button {
        grid-column: 4 / 6;
       }
}

@media (max-width: 650px) {

    .gallery-box {
        max-width: 90vw;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 20%);
        grid-gap: 10px;
    }

    .image-gallery {
        grid-row: span 1;

    }

    .mobile-menu-btn {
        font-size: 25px;
        display: block;
        position: absolute;
        right: 20px;
        padding: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    ul {
        text-align: center;
        width: 40%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        height: 15vh;
        background-color: #ff7f00;
        transform: translateY(-100%);
        border-radius: 2px;
        transition: transform .8s, box-shadow .8s;
        padding-left: 25px;
    }

    .screen {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 65px;
        left: 0;
        background-color: rgba(15, 15, 15, 0.357);
        z-index: 1;
        cursor: pointer;
        opacity: 0;
        visibility: hidden;
        transition: opacity .8s;
    }

    body.menu-open ul {
        transform: translateY(44%);
    }

    body.menu-open .screen {
        opacity: 0.6;
        visibility: visible;
    }

    .gallery-nav-link {
        color: white;
        margin: 15px 0;
    }

    .seperator {
        display: none;
    }

    .my-memes-nav-link {
        width: 94px;
    }

    .user-text::placeholder {
        font-size: 18px;
        font-weight: 700;
        padding-left: 10px;
        padding-bottom: 20px;
    }

    .user-text {
        padding: 10px;
        grid-column: 1 / 6;
    }

    .save-meme-button {
        grid-column: 4 / 6;
       }
}

@media (max-width: 500px) {

    .gallery-box {
        max-width: 90vw;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }

    .canvas-container {
        margin-left: 5px;
    }

    .edit-box {
        width: 70%;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        grid-gap: 10px;
        margin-left: 30px
    }

    .user-text {
        grid-column: 1 / 6;
    }

    #myCanvas {
        margin: 5px 0 15px;
    }

    .save-meme-button {
        grid-column: 4 / 6;
       }
    
}

@media (max-width: 500px) {
   .canvas-container {
       margin-left: 5px;
   }

   .save-meme-button {
    grid-column: 4 / 6;
   }
}

.display-none {
    display: none;
}